@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@font-face {
    font-family: 'edoSZ';
    src: url('fonts/edosz.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    /* position: fixed; */
    font-family: 'Sofia Sans', sans-serif;
}

h1 {
    font-family: 'edoSZ', sans-serif;
    text-align: center; 
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    font-size: 10vw;
    margin: auto; 
}

button {
    color: black;
    background-color: aquamarine;
    height: 50px;
    width: 50px;
    left: 0;
    right: 0;
    display: inline-block;
    user-select: none;
    text-align: center;
    position: absolute;
    margin: auto;
    border-radius: 20%;
}

#start { 
    bottom: 60px;
    float: left;
    margin-left: 720px; 
}

#stop { 
    bottom: 60px;
    float: left;
    margin-left: 770px; 
}

#speak { 
    bottom: 180px; 
    margin: 10px auto 0;
    background-color: darkblue;
    color: antiquewhite;
    height: 65px;
    width: 65px;
    border-radius: 40%;
    font-weight: bolder;
}


label{
    color: red;
    text-align: left;
}

.machine{
    background-color: black;
    height: 100vh;
    width: 100vw;
    user-select: none;
} 

.machine *{
    position: absolute;
}

#logogif{
    top: 0;
    right: 0;
}

#deltagif{
    top: 25%;
    right: 40%;
}


.clockIcon {
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    padding: 3px;
    object-fit: cover;
    background-color: white;
    border-radius: 50%;
}

.clockDate{
    top:10px;
    left: 5px;
    width: 150px;
    display:flex;
    align-items: center;
    justify-content: space-around;
}

#time{
    color: white;
    top: 15px;
    left: 60px;
}

