@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    /* position: fixed; */
    font-family: 'Sofia Sans', sans-serif;
}

button{
    color: black;
    top: 50%;
    left: 50%;
}

label{
    color: red;
    text-align: left;
}

.machine{
    background-color: black;
    height: 100vh;
    width: 100vw;
    user-select: none;
} 

.machine *{
    position: absolute;
}

#logogif{
    top: 0;
    right: 0;
}


.clockIcon {
    top: 0;
    left: 0;
    height: 75px;
    width: 75px;
    padding: 3px;
    object-fit: cover;
    background-color: white;
    border-radius: 50%;
}

.clockDate{
    top:10px;
    left: 5px;
    width: 150px;
    display:flex;
    align-items: center;
    justify-content: space-around;
}

.chat {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    max-height: 600px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 15px;
    z-index: 1000;
}

.chat::-webkit-scrollbar{
    display: none;
}

.userMsg {
    text-align: right;
    width: 300px;
    color: deepskyblue;
}

.deltaMsg {
    text-align: left;
    width: 300px;
    color: yellow;
    margin-top: 5px;
}

.messages {
    display: none;
    background-color: white;
}

.messages p {
    color: darkred;
}

#start_delta_btn {
    border: none;
    outline: none;
    position: fixed;
    left: 5px;
    transform: translateX(0);
    top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#start_delta_btn img {
    height: 100px;
}